@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  --darkbluecolor: #062E7C;
  --brightblue: #50BEFC;
  --tiifborder: #51BEFC;
  --bluelink: #007ACC;
}

body {
  @apply font-sans;

  color: var(--darkbluecolor);
}

p {
  @apply my-4 leading-relaxed;
}

.container {
  @apply w-full max-w-7xl mx-auto px-8;
}

.container-outer {
  @apply w-full max-w-[1800px] mx-auto;
}

h1, h2, h3, h4, h5 {font-family: 'Oswald', sans-serif;}

h2 {
  font-size: 2.25rem;
  text-transform: uppercase;
}

p {
  font-size: 1rem;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;

  @apply w-full h-12;
}

progress[value]::-webkit-progress-bar {
  @apply bg-[#50BEFC] border-solid border-[1px] border-[#50BEFC];
}

progress[value]::-webkit-progress-value {
  @apply bg-[#062E7C];

  width: 0;
  transition: width 0.5s;
}

.progressbar-wrapper span {
  opacity: 0;
  transition: all 0.3s 0.3s ease-in-out;
}

.progressbar-wrapper span:first-of-type {
  transform: translateX(-15px);
}

.progressbar-wrapper span:last-of-type {
  transform: translateX(15px);
}

.progressbar-wrapper.in-viewport span {
  opacity: 1;
  transform: translateX(0);
}

@media (prefers-reduced-motion) {
  progress[value]::-webkit-progress-value {
    transition: none;
  }

  .progressbar-wrapper span {
    transition: none;
    transform: translateX(0);
    opacity: 1;
  }
}

/**** Header Section - Start ****/
header {
    padding: .8rem 1rem .6rem;
    background-color: #F1F6F9;
    border-top: 4px solid var(--tiifborder);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.report-title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.liif-logo {
  object-fit: contain;
  max-height: 45px;
}

.report-title h1 {
    font-size: 1.6rem;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    color: var(--darkbluecolor);
    text-transform: uppercase;
    text-align: center;
    align-self: flex-end;
}

.socials-header {
  padding-top: .6rem;
  margin-top: .4rem;
  width: 100%;
  border-top: 1px solid var(--darkbluecolor);
}

.socials-header img {
  transform: scale(.8);
}

.socials-header ul {
  display: flex;
  justify-content: space-around;
}
/**** Header Section End ****/

/**** Hero Section Start ****/
.hero {
  background-color: var(--darkbluecolor);
  color: white;
}

.hero .message {
  padding: 1rem;
}

.hero h2 {
  font-family: "century-gothic", sans-serif;
  font-size: 3rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.hero p {
  font-size: 1.4rem;
  letter-spacing: 0.0525rem;
  color: var(--brightblue);
}

.hero img {
  object-fit: contain;
}
/**** Hero Section End ****/

/* .white-area-msg {
  padding: 2.6em 2.2rem ;
} */

.white-area-msg p {
  color: var(--darkbluecolor);
  font-size: 1.2rem;
  letter-spacing: 0.03rem;
}

/**** Blue Info Area - Re-usable ****/
.blue-info-area {
  background-color: var(--darkbluecolor);
  color: white;
  /* padding: 1em; */
}

.blue-info-area h2 {
  color: var(--brightblue);
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.blue-info-area p {
  line-height: 1.75;
  margin-top: 1rem;
}

.blue-info-area a {
  padding: 1.4rem 0 0 1rem;
  display: block;
  color: var(--brightblue);
  font-weight: 600;
}
/**** Blue Info Area - End ****/

/**** LEADERSHIP PERSPECIVES Start ****/
/* .leadership-msg {
  margin: 1rem auto;
  display: grid;
  justify-items: center;
} */

/* .leadership-msg h2 {
  text-align: center;
} */

.leadership-msg img {
  margin: 1rem auto;
}

.leadership-msg a {
  justify-self: start;
  padding: 1rem;
  margin: 1rem 0;
  display: block;
}
/**** LEADERSHIP PERSPECIVES End ****/

  /*** Quote RE-USABLE ***/
  .quote blockquote {
    color: var(--darkbluecolor);
    font-family: 'Readex Pro', sans-serif;
    font-weight: 600;
    margin: 0 1.4rem;
  }

  .quote blockquote::before,
  .quote blockquote::after {
    color: var(--brightblue);
    font-size: 1.75rem;
  }

  .quote blockquote::before {
    content: open-quote;
  }

  .quote blockquote::after {
    content: close-quote;
  }

  .quote figcaption {
    color: var(--darkbluecolor);
    margin-top: 1rem;
    padding: 1rem;
  }
  /*** Quote RE-USABLE END ***/


/**** Investments Start ****/
.investments {
  /* margin: 1rem auto; */
  background-color: var(--darkbluecolor);
  color: white;
}

.investments h2 {
  font-family: "century-gothic", sans-serif;
  font-size: 3rem;
  text-transform: unset;
  letter-spacing: .2rem;
}

/* .investments-data {
  padding: 1rem 1rem;
} */

.investments-message {
  color: var(--brightblue);
}

.progress-bar {
  display: flex;
  min-height: 22px;
  margin: .5rem 0 1.2rem;
  border: 1px solid var(--brightblue);
}

.progress-bar p:nth-child(1) {
  width: 43%;
  text-align: right;
  padding-right: .5rem;
}

.progress-bar p:nth-child(2) {
  width: 57%;
  text-align: left;
  padding-left: .5rem;
  background-color: var(--brightblue);
  color: var(--darkbluecolor);
}

.investments-data h3 {
  font-size: 1.4rem;
  color: var(--brightblue);
}

.investments [role="tablist"] {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .6rem;
}

.investments-data li a {
  border: 1px dashed white;
  width: 100%;
  display: block;
  padding-left: .4rem;
}

.investments [aria-selected="true"] {
  background-color: white;
  color: var(--darkbluecolor);
}

.investments .hub-cards {
  margin-top: 1rem;
  background-color: var(--brightblue);
  padding: 1rem;
  border: 1px solid white;
}

.investments .hub-cards h3,
.investments .hub-cards p {
  color: var(--darkbluecolor);
  margin-bottom: .2rem;
}

.investments .quote blockquote {
  color: white;
  font-weight: 600;
  margin: 1rem 0;
}

.investments .quote figcaption {
  color: white;
}

/**** Investments End ****/

/**** White Info Area - Re-usable ****/
/* .white-info-area,
.white-info-area h2,
.white-info-area p {
  margin: 1rem auto;
  line-height: 1.75;
} */

/* .white-info-area h2 {
  text-align: center;
} */

.read-link {
  padding: 1rem;
  color: var(--bluelink);
  font-weight: 600;
}

/* .white-info-area article,
.white-info-area figure {
  padding: 1rem;
} */
/**** White Info Area End ****/

/**** About Partners Start ****/
.about-partnerships {
  display: grid;
  padding: .4rem;
}
.about-partnerships h2,
.about-partnerships p {
  margin: 1rem auto;
  line-height: 1.6;
}
/**** About Partners End ****/

/*** Supporters  ***/
/* .supporters {
  padding: 1rem;
  margin-bottom: 1.2rem;
} */

.supporters h2 {
  margin-bottom: 1rem;
}

.supporters ul {
  border-bottom: 1px solid var(--darkbluecolor);
  margin-bottom: 1rem;
}

.supporters ul li {
  max-width: 164px;
  /* grid-template-columns: repeat(2, minmax(min-content, 164px)); */
}

.supporters [role="tablist"] {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: repeat(2, minmax(min-content, 164px));
  gap: .6rem;
}

.supporters li a {
  width: 100%;
  display: block;
  text-align: center;
  padding: .6rem .4rem;
}

.supporters [aria-selected="true"] {
  border-top: 1px solid var(--darkbluecolor);
  border-left: 1px solid var(--darkbluecolor);
  border-right: 1px solid var(--darkbluecolor);
}

.supporters .active-card {
  place-items: unset;
}

.supporters p {
  padding: .4rem 0;
}
/*** Supporters  END***/

/*** Consilidated Financials  Start***/
/* Mobile view requires re-formatting */
.consolidated-financials {
  /* padding: 1rem; */
  background-color: var(--darkbluecolor);
  color: var(--brightblue);
  text-align: left;
}

.consolidated-financials h2 {
  margin-bottom: 1rem;
}

.consolidated-financials h3 {
  margin-bottom: 1rem;
  color: white;
}


.consolidated-financials table {
  min-width: 100%;
  margin-bottom: 3rem;
  /* display: grid; */
}

.table-headers,
.total-row {
  color: white;
  font-weight: 600;
  border-bottom: 1px solid var(--brightblue);
}

th,
td {
  border-bottom: 1px solid var(--brightblue);
  padding: .4rem 0;
}


/* tabs for financials */
.consolidated-financials ul {
  border-bottom: 1px solid var(--darkbluecolor);
  margin-bottom: 1rem;
}

.consolidated-financials ul li {
  max-width: 164px;
}

.consolidated-financials [role="tablist"] {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 164px));
  gap: .6rem;
}

.consolidated-financials li a {
  width: 100%;
  display: block;
  text-align: center;
  padding: .6rem .4rem;
  color: white;
  font-weight: 600;
}

.consolidated-financials .active {
  background-color: white;
  color: var(--darkbluecolor);
  font-weight: 600;
}

.consolidated-financials [aria-selected="true"] {
  border-top: 1px solid var(--darkbluecolor);
  border-left: 1px solid var(--darkbluecolor);
  border-right: 1px solid var(--darkbluecolor);
  color: var(--darkbluecolor);
  background-color: white;
}

.consolidated-financials [aria-selected="false"] {
  background-color: var(--darkbluecolor);
  color: white;
}


.consolidated-financials .active-card {
  place-items: unset;
}

.consolidated-financials [role="tablist"] {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 164px));
  gap: .6rem;
  border-bottom: 1px solid white;
}
/*** Consilidated Financials  End***/

/*** BODL  Start***/

/* .bodl {
  padding: 1rem;
} */

.bodl h2 {
  margin-bottom: 2rem;
}

.bodl h3 {
  border-bottom: 1px solid var(--darkbluecolor);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  font-size: 1.125rem;
}

.officers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 2rem;
}

.other-staff ul {
  border-bottom: 1px solid var(--darkbluecolor);
  margin-bottom: 1rem;
}

.other-staff ul li {
  max-width: 164px;
  /* grid-template-columns: repeat(2, minmax(min-content, 164px)); */
}

.other-staff [role="tablist"] {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 164px));
  gap: .6rem;
}

.other-staff li a {
  width: 100%;
  display: block;
  text-align: center;
  padding: .6rem .4rem;
  font-weight: 600;
}

.other-staff [aria-selected="true"] {
  border-top: 1px solid var(--darkbluecolor);
  border-left: 1px solid var(--darkbluecolor);
  border-right: 1px solid var(--darkbluecolor);
}

.other-staff .active-card {
  place-items: unset;
}

.other-staff [role="tablist"] {
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, 164px));
  gap: .6rem;
  border-bottom: 1px solid var(--darkbluecolor);
}

.staff-list {
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* gap: 1rem; */
  margin-bottom: 2rem;
}

.staff-list div {
  padding: .6rem 0;
}


/*** BODL  End***/


/**** Footer Section Start ****/

footer {
    /* padding: 1rem; */
    background-color: var(--darkbluecolor);
    color: white;
}

/* .footer-content { */
  /* max-width: 1088px;
    display: grid;
    gap: .8rem; */
/* } */

.footer-msg {
    font-family: "Oswald", sans-serif;
    font-size: 1.8rem;
    line-height: 1.4;
    color: white;
    font-weight: 400;
    text-transform: none;
    /* grid-row: 2 / 3; */
}

/* .footer-logo { */
    /* padding: .4rem; */
    /* place-self: center;
    grid-row: 1 / 2; */
/* } */

.newsletter-grp form {
  display: grid;
}

.newsletter-grp,
input[type="submit"] {
  color: #50BEFC;
  margin-top: 1rem;
  transition: all 0.3s ease-in-out;
}

.newsletter-grp input[type="submit"]:hover,
.newsletter-grp input[type="submit"]:focus {
  background-color: #50BEFC;
  color: var(--darkbluecolor);
}

.newsletter-grp h3 {
    font-size: 1.8rem;
    line-height: 1.3;
    font-family: 'Readex Pro', sans-serif;
    margin: 1rem auto;
    text-align: center;
}

.newsletter-grp label {
    display: block;
    margin-bottom: .2rem;
    color: white;
}

.newsletter-grp input {
    padding: .4rem 1rem;
}

.newsletter-grp input[type="submit"] {
    background-color: transparent;
    border: 2px solid #50BEFC;
    padding: .4rem 1rem;
}

/* .footer-socials {
    margin-top: 1.4rem;
} */

.footer-socials img {
  transform: scale(.8);
}

.footer-socials ul {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  list-style: none;
}

.locations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    font-style: normal;
    padding-top: 2rem;
}

.locations h4 {
  font-weight: 600;
}

.locations h4,
.locations p {
    text-align: center;
    margin-bottom: .4rem;
}

.locations,
.bottom-row {
    font-family: 'Readex Pro', sans-serif;
}

.bottom-row {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 1rem -1rem -1rem -1rem; */
    padding: .4rem 1rem;
    background-color: black;
}
/**** Footer Section End ****/



/***** Media Queries *****/

@media(min-width: 390px) {
  .socials-header ul {
    justify-content: center;
    gap: 1rem;
  }
}

@media (min-width: 640px) {
  /**** Header Section Start ****/
  header {
    border-top: 4px solid var(--tiifborder);
    padding: 1rem 2rem;
    flex-direction: row;
    align-items: flex-end;
  }

  .report-title h1 {
    font-size: 1.8125rem;
    letter-spacing: 0.018125rem;
    line-height: 1;
  }

  .socials-header {
    margin: 0;
    width: 25%;
    border: 0;
    margin: 0;
    padding: 0;
  }

  .socials-header ul {
    gap: .4rem;
  }

  .socials-header img {
    transform: scale(.8);
  }
  /**** Header Section End ****/

  /* .hero,
  .leadership-msg,
  .blue-info-area,
  .white-area-msg,
  .white-info-area,
  .investments,
  .about-partnerships,
  .supporters,
  .consolidated-financials,
  .bodl {
    padding: 3rem 2rem;
  }
  .leadership-msg {
    padding: 3rem 2rem;
  }
  .blue-info-area {
    padding: 3rem 2rem;
  } */

  .hero img {
    margin: 0 auto;
  }

  /* .white-area-msg {
    width: 90%;
    margin: 0 auto;
  } */

  .blue-info-area a {
    margin-bottom: 1rem;
  }

  /* .blue-info-area img {
    margin: 0 auto;
  }

  .white-info-area img {
    margin: 0 auto;
  } */

  /**** Footer Section Start ****/
  .footer-msg {
    text-align: center;
  }

  .newsletter-grp form {
    margin: 0 auto;
    width: 80%;
  }

  .footer-socials ul {
    justify-content: center;
    gap: 3rem;
  }

  .locations {
    flex-direction: row;
    gap: 3rem;
  }
  /**** Footer Section End ****/
}

@media (min-width: 768px) {
  /* .leadership-msg {
    justify-items: unset;
    margin: 3rem 8rem;
    grid-template-columns: 40% 1fr;
  } */

  .leadership-msg h2 {
    font-size: 2.2rem;
    text-align: left;
    margin-bottom: 2rem;
    /* grid-column: 1 / 3; */
  }

  .leadership-quote {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 1024px) {
  /**** Header Section Start ****/
  header {
    max-height: 86px;
    border-top: 8px solid var(--tiifborder);
    padding: 1rem 3.4rem;
    flex-direction: row;
  }

  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .hero .message {
    padding: 6rem 1rem 1rem;
  }

  .hero h2 {
    font-size: 4.6rem;
    text-align: center;
  }

  .hero p {
    font-size: 2rem;
    text-align: center;
  }

  .report-title {
    align-content: flex-end;
  }

  .report-title h1 {
      font-size: 1.8125rem;
      letter-spacing: 0.018125rem;
      line-height: 1;
  }

  .socials-header {
    margin: 0;
    width: 20%;
  }

  .socials-header ul {
    gap: 1rem;
  }

  .socials-header img {
    transform: scale(1);
  }
  /**** Header Section End ****/

  /* .white-area-msg {
    padding: 4rem 8rem;
    width: unset;
  } */

  /* .blue-info-area,
  .about-partnerships,
  .supporters,
  .consolidated-financials,
  .bodl {
    padding: 4rem 3rem 4rem 8rem;
  } */

  /* .blue-info-area .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .blue-info-area article {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  } */

  .blue-info-area p {
    padding-right: 6rem;
    /* limit post titles to 10 lines */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    overflow: hidden;
  }

  /* .blue-info-area img {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  .blue-info-area figure {
    grid-column: 2 / 3;
  } */

  /*** Quote RE-USABLE ***/
  .quote blockquote {
    color: var(--darkbluecolor);
    font-family: 'Readex Pro', sans-serif;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.5;
    text-indent: -1.5em;
  }

  .quote blockquote::before,
  .quote blockquote::after {
    color: var(--brightblue);
    font-size: 2em;
    line-height: 1;
  }


  .quote blockquote::before {
    content: open-quote;
  }

  .quote blockquote::after {
    content: close-quote;
  }

  .quote figcaption {
    color: var(--darkbluecolor);
    font-size: 1rem;
    margin-top: 1.2rem;
  }

  /*** Quote RE-USABLE END ***/

  .leadership-msg img {
    margin: unset;
  }

  .leadership-msg a {
    padding: unset;
    margin-top: auto;
  }
  /* Investments Adjustments */
  /* .investments-data {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem 8rem;
  } */

  .investments-data h2 {
    font-size: 6.3rem;
    grid-column: 1 / 3;
  }

  .investments-message,
  .progress-bar,
  #tabs-title,
  .us-data,
  .hubs-quote {
    grid-column: 1 / 5;
  }

  #tabs-title {
    margin-bottom: 1rem;
  }

  .investments .us-data {
    display: grid;
    grid-template-columns: 20% 1fr 1fr;
    gap: 1rem;
  }

  .investments [role="tablist"] {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .investments-data li a {
    border: none;
    display: block;
    border: 1px solid transparent;
    color: var(--brightblue);
  }

  .investments-data li a:hover {
    border: 1px solid white;
    color: white;
  }

  .investments .hub-cards {
    grid-column: 2 / 4;
    margin: unset;
    padding: 1rem;
    border: none;
  }

  .active-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    place-items: center;
  }

  .hubs-quote {
    width: 90%;
    margin: 3rem auto 1.5rem;
  }

  .hubs-quote blockquote {
    line-height: 1;
    font-size: 1.35rem;
  }

/* Investments Adjustments END */

  /*** White Info Area - Re-Usable ***/
  /* .white-info-area {
    padding: 4rem 3rem 4rem 8rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
  } */

  /* .white-info-area article {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }

  .white-info-area h2 {
    text-align: left;
    margin: unset;
  }

  .white-info-area img {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  } */
/*
  .white-info-area figure {
    grid-column: 2 /3;
    grid-row: 3 / 4;
  } */
/*** White Info Area - Re-Usable END ***/


/*** Affordable Housing ***/
  .af-housing article a {
    display: block;
  }

  .af-housing figcaption {
    margin-top: 1rem;
    font-weight: 300;
  }

  /*** Equity & Early Care and Education Sections ***/
  /* .equity article,
  .early-care-education article {
    grid-column: 2 / 3;
    padding-left: 3rem;
  } */

  .equity article h2,
  .early-care-education article h2 {
    line-height: 2.625rem;
  }

  /* .equity article p,
  .early-care-education article p {
    padding: unset;
  }

  .equity img,
  .early-care-education img {
    grid-column: 1 / 2;
  }

  .equity figure,
  .early-care-education figure {
    grid-column: 1 / 2;
  } */
  /*** Early Care and Education END ***/

  /*** About Our Partnership ***/
  .about-partnerships {
    color: var(--darkbluecolor);
  }
  /*** About Our Partnership END ***/


  /**** Footer Section Start ****/
  /* footer {
    max-height: 577px;
    padding: 1rem;
  } */

  .footer-content {
    margin: 0 auto;
    gap: 0;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
  }

  .footer-msg {
    font-size: 1.75rem;
    line-height: 1.4;
    letter-spacing: 0.0225rem;
    text-align: justify;
    /* text-transform: unset; */
    max-width: 860px;
    margin-bottom: 4rem;
  }

  .footer-logo {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 0;
    justify-self: center;
    align-self: end;
  }

  .newsletter-grp {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: end;
    width: 100%;
  }

  .newsletter-grp form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  }

  .newsletter-grp form label {
    grid-column: 1 / 3;
  }

  .newsletter-grp,
  input[type="submit"] {
    margin-top: 0;
  }

  .newsletter-grp h3 {
    font-size: 1.5rem;
    line-height: 1.5;
    letter-spacing: 0.03rem;
    text-align: left;
  }

  .newsletter-grp input {
    padding: .4rem 1rem;
    width: 28em;
  }

  .newsletter-grp input[type="submit"] {
    margin-left: 1.4rem;
    width: auto;
    cursor: pointer;
  }

  .footer-socials {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    align-self: end;
    margin: 0;
  }

  .footer-socials ul {
    gap: 1rem;
    }

  .footer-socials img {
   transform: scale(1);
  }

  .locations {
    flex-direction: row;
    justify-content: flex-start;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    justify-self: start;
  }

  .locations h4,
  .locations p {
    text-align: left;
  }

  .bottom-row {
    /* height: 2.5em;
    margin: 1rem -1rem -1rem -1rem;
    padding: 1rem; */
  }
  /**** Footer Section End ****/
}

.gradient-mask-img-b {
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 75%, transparent 100%);
}

@media (min-width: 1440px) {
  /**** Hero Section Start ****/
  .hero {
    min-height: 700px;
  }

  .hero .message {
    padding: 8rem 1rem 1rem;
  }

  .hero h2 {
    font-size: 6.25rem;
  }

  .hero p {
    font-size: 2.625rem;
  }

  .hero-photo {
    display: flex;
    justify-content: flex-end;
  }

  .hero img {
    object-fit: fill;
  }
  /**** Hero Section End ****/

  /* .white-area-msg {
    margin: 3rem auto;
    padding: 0 10rem;
  } */

  .white-area-msg p {
    font-size: 1.5rem;
    letter-spacing: 0.03rem;
    padding: unset;
    width: unset;
  }

  /* .blue-info-area {
    padding: 4rem 4rem 4rem 14.6rem;
  } */

  /* .leadership-msg {
    margin: unset;
    margin: 4rem 0;
    padding: 0 6rem 0 14.6rem;
  } */

  /* .investments {
    margin: unset;
    padding: 0 10rem 0 14.6rem;
  } */

  .investments h2 {
    font-size: 9.5rem;
  }

  .investments-data {
    padding: unset;
  }

  .investments [aria-selected="true"]:hover {
    color: var(--darkbluecolor);
    background-color: white;
  }


  /* .white-info-area {
    padding: 4rem 4rem 4rem 14.6rem;
  }

  .about-partnerships {
    padding: 4rem 4rem 4rem 14.6rem;
  }

  .supporters {
    padding: 4rem 4rem 4rem 14.6rem;
  } */

  .supporters h2 {
    margin-bottom: 3rem;
  }

  .supporters p {
    margin-bottom: .6rem;
  }

  .consolidated-financials {
    /* padding: 4rem 4rem 4rem 14.6rem; */
    background-color: var(--darkbluecolor);
    color: var(--brightblue);
    text-align: left;
  }

  /*** BODL ***/
  .staff-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-bottom: 2rem;
  }



  /**** Footer Section Start ****/
  .footer-logo {
    justify-self: start;
  }

  .newsletter-grp input {
    width: 31.3125em;
  }
/**** Footer Section End ****/
}
