@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  --darkbluecolor: #062E7C;
  --brightblue: #50BEFC;
  --tiifborder: #51BEFC;
  --bluelink: #007ACC;
}

body {
    font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5 {font-family: 'Oswald', sans-serif;}

h2 {
  font-size: 2.25rem;
}

p {
  font-size: 1rem;
}

/**** Header Section - Start ****/
header {
    padding: .8rem 1rem .6rem;
    background-color: #F1F6F9;
    border-top: 4px solid var(--tiifborder);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.report-title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.liif-logo {
  object-fit: contain;
  max-height: 45px;
}

.report-title h1 {
    font-size: 1.6rem;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    color: var(--darkbluecolor);
    text-transform: uppercase;
    text-align: center;
    align-self: flex-end;
}

.socials-header {
  padding-top: .6rem;
  margin-top: .4rem;
  width: 100%;
  border-top: 1px solid var(--darkbluecolor);
}

.socials-header img {
  scale: .8;
}

.socials-header ul {
  display: flex;
  justify-content: space-around;
}
/**** Header Section End ****/

/**** Hero Section Start ****/
.hero {
  background-color: var(--darkbluecolor);
  color: white;
}

.hero .message {
  padding: 1rem;
}

.hero h2 {
  font-family: 'Gothic A1', sans-serif; /* (TEMP Substitute Font) */
  font-size: 3rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

.hero p {
  font-size: 1.4rem;
  letter-spacing: 0.0525rem;
  color: var(--brightblue);
}

.hero img {
  object-fit: contain;
}
/**** Hero Section End ****/

.white-area-msg {
  padding: 2.6em 2.2rem ;
}

.white-area-msg p {
  color: var(--darkbluecolor);
  font-size: 1.2rem;
  letter-spacing: 0.03rem;
}

/**** Blue Info Area - Re-usable ****/
.blue-info-area {
  background-color: var(--darkbluecolor);
  color: white;
  padding: 1em;
}

.blue-info-area h2 {
  color: var(--brightblue);
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.blue-info-area p {
  line-height: 1.6;
  margin-top: 1rem;
}

.blue-info-area a {
  padding: 1.4rem 0 0 1rem;
  display: block;
  color: var(--brightblue);
  font-weight: 600;
}
/**** Blue Info Area - End ****/

/**** LEADERSHIP PERSPECIVES Start ****/
.leadership-msg {
  margin: 1rem auto;
  display: grid;
  justify-items: center;
}

.leadership-msg h2 {
  text-align: center;
}

.leadership-msg img {
  margin: 1rem auto;
}

.leadership-msg a {
  justify-self: start;
}
/**** LEADERSHIP PERSPECIVES End ****/

/**** Investments Start ****/
.investments {
  margin: 1rem auto;
  background-color: var(--darkbluecolor);
  color: white;
}
/**** Investments End ****/

/**** White Info Area - Re-usable ****/
.white-info-area,
.white-info-area h2,
.white-info-area p {
  margin: 1rem auto;
  line-height: 1.6;
}

.white-info-area h2 {
  text-align: center;
}

.read-link {
  padding: 1rem;
  color: var(--bluelink);
  font-weight: 600;
}
/**** White Info Area End ****/

/**** About Partners Start ****/
.about-partnerships {
  display: grid;
  padding: .4rem;
}
.about-partnerships h2,
.about-partnerships p {
  margin: 1rem auto;
  line-height: 1.6;
}
/**** About Partners End ****/

/**** Footer Section Start ****/

footer {
    padding: 1rem;
    background-color: var(--darkbluecolor);
    color: white;
}

.footer-content {
  max-width: 1088px;
    display: grid;
    gap: .8rem;
}

.footer-msg {
    font-family: "Oswald", sans-serif;
    font-size: 1.8rem;
    line-height: 1.4;
    color: white;
    font-weight: 400;
    grid-row: 2 / 3;
}

.footer-logo {
    padding: .4rem;
    place-self: center;
    grid-row: 1 / 2;
}

.newsletter-grp form {
  display: grid;
}

.newsletter-grp,
button {
    color: #50BEFC;
    margin-top: 1rem;
}

.newsletter-grp h4 {
    font-size: 1.8rem;
    line-height: 1.3;
    font-family: 'Readex Pro', sans-serif;
    margin: 1rem auto;
    text-align: center;
}

.newsletter-grp label {
    display: block;
    margin-bottom: .2rem;
    color: white;
}

.newsletter-grp input {
    padding: .4rem 1rem;
}

.newsletter-grp button {
    background-color: transparent;
    border: 2px solid #50BEFC;
    padding: .4rem 1rem;
}

.footer-socials {
    margin-top: 1.4rem;
}

.footer-socials img {
  scale: .8;
}

.footer-socials ul {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  list-style: none;
}

.locations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    font-style: normal;
    padding-top: 2rem;
}

.locations h4 {
  font-weight: 600;
}

.locations h4,
.locations p {
    text-align: center;
    margin-bottom: .4rem;
}

.locations,
.bottom-row {
    font-family: 'Readex Pro', sans-serif;
}

.bottom-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem -1rem -1rem -1rem;
    padding: .4rem 1rem;
    background-color: black;
}
/**** Footer Section End ****/


/***** Media Queries *****/

@media(min-width: 390px) {
  .socials-header ul {
    justify-content: center;
    gap: 1rem;
  }
}

@media (min-width: 640px) {
  /**** Header Section Start ****/
  header {
    border-top: 4px solid var(--tiifborder);
    padding: 1rem 2rem;
    flex-direction: row;
    align-items: flex-end;
  }

  .report-title h1 {
    font-size: 1.8125rem;
    letter-spacing: 0.018125rem;
    line-height: 1;
  }

  .socials-header {
    margin: 0;
    width: 25%;
    border: 0;
    margin: 0;
    padding: 0;
  }

  .socials-header ul {
    gap: .4rem;
  }

  .socials-header img {
    scale: .8;
  }
  /**** Header Section End ****/

  /**** Footer Section Start ****/
  .footer-msg {
    text-align: center;
  }

  .newsletter-grp form {
    margin: 0 auto;
    width: 80%;
  }

  .footer-socials ul {
    justify-content: center;
    gap: 3rem;
  }

  .locations {
    flex-direction: row;
    gap: 3rem;
  }
  /**** Footer Section End ****/
}

@media (min-width: 1024px) {
  /**** Header Section Start ****/
  header {
    max-height: 86px;
    border-top: 8px solid var(--tiifborder);
    padding: 1rem 3.4rem;
    flex-direction: row;
  }

  .report-title {
    align-content: flex-end;
  }

  .report-title h1 {
      font-size: 1.8125rem;
      letter-spacing: 0.018125rem;
      line-height: 1;
  }

  .socials-header {
    margin: 0;
    width: 20%;
  }

  .socials-header ul {
    gap: 1rem;
  }

  .socials-header img {
    scale: 1;
  }
  /**** Header Section End ****/

  /**** Footer Section Start ****/
  footer {
    max-height: 577px;
    padding: 1rem;
  }

  .footer-content {
    margin: 0 auto;
    gap: 0;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
  }

  .footer-msg {
    font-size: 2.25rem;
    line-height: 1.4;
    letter-spacing: 0.0225rem;
    margin: 0;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    place-self: center;
  }

  .footer-logo {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 0;
    justify-self: center;
    align-self: end;
  }

  .newsletter-grp {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: end;
    width: 100%;
  }

  .newsletter-grp form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  }

  .newsletter-grp form label {
    grid-column: 1 / 3;
  }

  .newsletter-grp,
  button {
    margin-top: 0;
  }

  .newsletter-grp h4 {
    font-size: 1.5rem;
    line-height: 1.5;
    letter-spacing: 0.03rem;
    text-align: left;
  }

  .newsletter-grp input {
    padding: .4rem 1rem;
    width: 28em;
  }

  .newsletter-grp button {
    margin-left: 1.4rem;
    width: 6.125em;
  }

  .footer-socials {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    align-self: end;
    margin: 0;
  }

  .footer-socials ul {
    gap: 1rem;
    }

  .footer-socials img {
  scale: 1;
  }

  .locations {
    flex-direction: row;
    justify-content: flex-start;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    justify-self: start;
  }

  .locations h4,
  .locations p {
    text-align: left;
  }

  .bottom-row {
    height: 2.5em;
    margin: 1rem -1rem -1rem -1rem;
    padding: 1rem;
  }
  /**** Footer Section End ****/
}

@media (min-width: 1440px) {
  /**** Hero Section Start ****/
  .hero {
    min-height: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .hero .message {
    padding: 8rem 1rem 1rem;
  }

  .hero h2 {
    font-size: 6.25rem;
    text-align: center;
  }

  .hero p {
    font-size: 2.625rem;
    text-align: center;
  }

  .hero-photo {
    display: flex;
    justify-content: flex-end;
  }

  .hero img {
    object-fit: fill;
  }
  /**** Hero Section End ****/

  /**** Footer Section Start ****/
  .footer-logo {
    justify-self: start;
  }

  .newsletter-grp input {
    width: 31.3125em;
  }
/**** Footer Section End ****/
}
